<div class="box">
	<article class="media">
		<div class="media-content">
			<div class="content">
				<p>
				<strong><%= comment.name %>: </strong>
				<%= comment.comment %>
				</p>
			</div>
		</div>
	<% if comment_author(comment) %>
	<%= link_to 'Delete', [comment.instrument, comment], method: :delete, remote: :true, data: { confirm: "Are you sure ?" }, class: "button is-danger" %>
	<% end %>
	</article>

</div>
